@media (max-width: 1140px) {
    .lid__title {
        font-size: calc(36px + (55 - 36) * ((100vw - 320px) / (1140 - 320)));
    }

    .disclaimer__text {
        font-size: calc(12px + (34 - 12) * ((100vw - 320px) / (1140 - 320)));
    }

    .disclaimer__text {
        margin-right: calc(10px + (50 - 10) * ((100vw - 320px) / (1140 - 320)));
    }

    .disclaimer {
        padding-top: calc(10px + (30 - 10) * ((100vw - 320px) / (1140 - 320)));
    }

    .disclaimer {
        padding-bottom: calc(10px + (15 - 10) * ((100vw - 320px) / (1140 - 320)));
    }

    .disclaimer {
        padding-left: calc(10px + (55 - 10) * ((100vw - 320px) / (1140 - 320)));
    }

    .disclaimer {
        padding-right: calc(10px + (55 - 10) * ((100vw - 320px) / (1140 - 320)));
    }

    .header__logo {
        width: calc(135px + (203 - 135) * ((100vw - 320px) / (1140 - 320)));
    }

    .header__button {
        margin-right: calc(15px + (52 - 15) * ((100vw - 320px) / (1140 - 320)));
    }

    .header__button {
        font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1140 - 320)));
    }

    .menu__list li {
        margin-bottom: calc(55px + (90 - 55) * ((100vw - 320px) / (1140 - 320)));
    }

    .main__runline {
        font-size: calc(12px + (48 - 12) * ((100vw - 320px) / (1140 - 320)));
    }

    .main__runline {
        padding-top: calc(10px + (16 - 10) * ((100vw - 320px) / (1140 - 320)));
    }

    .main__runline {
        padding-bottom: calc(10px + (16 - 10) * ((100vw - 320px) / (1140 - 320)));
    }

    .main__runline {
        margin-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (1140 - 320)));
    }

    .advant__text {
        font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1140 - 320)));
    }

    .title {
        font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1140 - 320)));
    }

    .title {
        margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (1140 - 320)));
    }

    .text {
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1140 - 320)));
    }

    .menu__item {
        padding-left: calc(80px + (0 - 80) * ((100vw - 320px) / (1140 - 320)));
    }

    .menu__body {
        padding-top: calc(100px + (250 - 100) * ((100vw - 320px) / (1140 - 320)));
    }

    .footer__text {
        font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1140 - 320)));
    }

    .footer__content:not(:last-child) {

        margin-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1140 - 320)));
    }

    .gallery__text {
        font-size: calc(10px + (26 - 10) * ((100vw - 320px) / (1140 - 320)));
    }

    .about__text {
        font-size: calc(14px + (30 - 14) * ((100vw - 320px) / (1140 - 320)));
    }

    .gallery__columns_1 {
        margin-right: calc(10px + (30 - 10) * ((100vw - 320px) / (1140 - 320)));
    }

    .gallery__columns_3 {
        margin-top: calc(10px + (30 - 10) * ((100vw - 320px) / (1140 - 320)));
    }
    .gallery__columns_3 {
        padding-top: calc(10px + (20 - 10) * ((100vw - 320px) / (1140 - 320)));
    }

    .gallery__columns_min:not(:last-child) {
        margin-right: calc(10px + (30 - 10) * ((100vw - 320px) / (1140 - 320)));
    }

    .buy__button:not(:last-child) {
        margin-right: calc(10px + (30 - 10) * ((100vw - 320px) / (1140 - 320)));
    }

    .advant,
    .about,
    .expert,
    .information {
        margin-bottom: calc(60px + (140 - 60) * ((100vw - 320px) / (1140 - 320)));
    }

    .buy {
        padding-bottom: calc(50px + (140 - 50) * ((100vw - 320px) / (1140 - 320)));
    }

    .footer__container {
        padding-top: calc(20px + (70 - 20) * ((100vw - 320px) / (1140 - 320)));
    }

    .gallery__columns span {
        left: calc(10px + (20 - 10) * ((100vw - 320px) / (1140 - 320)));
    }

    .gallery__columns span {
        top: calc(10px + (20 - 10) * ((100vw - 320px) / (1140 - 320)));
    }

    .links__instuction_text {
        font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1140 - 320)));
    }

    .modal-content {
        max-width: calc(100% + (70 - 100) * ((100vw - 320px) / (1140 - 320)));
    }

    .menu__bg {
        top: calc(0% + (-7 - 0) * ((100vw - 320px) / (1140 - 320)));
    }

    .menu__bg img {
        width: calc(230% + (100 - 230) * ((100vw - 320px) / (1140 - 320)));
    }


}

@media (max-width: 1530px) {
    .lid__bg {
        width: 120%;
        left: -10%;
    }

    .modal-content {
        margin: 10vw auto;
    }
}

@media (max-width: 1270px) {
    .lid__bg {
        width: 140%;
        left: -20%;
    }
}

@media (max-width: 1070px) {
    .lid__bg {
        width: 155%;
        left: -25%;
    }
}

@media (max-width: 960px) {
    .body {
        display: flex;
        flex-direction: column;
    }

    .info {
        margin-bottom: 30px;
    }

    .info__link {
        margin-top: 10px;
    }

    .buy__images {
        margin-top: 50px;
    }

    .information__title {
        margin-bottom: 0;
    }

    .lid__but {
        margin-left: 0;
        order: 1;
        margin-bottom: 30px;
    }

    .lid__info {
        flex-direction: column;
    }

    .lid__links {
        order: 2;
    }

    .lid {
        padding-bottom: 0;
    }

    .lid__links {
        display: flex;
    }

    .links__instuction {
        flex: 0 1 33.333%;
    }

    .links__instuction:not(:last-child) {
        margin-bottom: 0;
        margin-right: 10px;
    }

    .links__instuction_icon {
        margin-right: 10px;
    }

    .lid__image {
        bottom: 0;
        left: 13%;
        top: 0;
        right: 0;
        margin: auto;

    }

    .lid__image_three.active1 {
        animation: f3 1s ease 0s 1 normal forwards;
    }

    @keyframes f3 {
        0% {
            left: 13%;
        }

        100% {
            left: 100%;
        }
    }

    .lid__image_three.active10 {
        animation: f30 1s ease 0s 1 normal forwards;
    }

    @keyframes f30 {
        0% {
            left: 13%;
        }

        100% {
            left: -87%;
        }
    }

    .lid__image_two {
        display: none;
    }

    .lid__image_two.active2 {
        animation: f2 1s ease 0s 1 normal forwards;
    }

    @keyframes f2 {
        0% {
            left: 13%;
            z-index: 6;
        }

        100% {
            left: 100%;
        }
    }

    .lid__image_two.active20 {
        animation: f20 1s ease 0s 1 normal forwards;
    }

    @keyframes f20 {
        0% {
            left: 13%;
            z-index: 6;
        }

        100% {
            left: -87%;
        }
    }

    .lid__image_one {
        display: none;
    }


    .lid__image_one.active3 {
        animation: f1 1s ease 0s 1 normal forwards;
    }

    @keyframes f1 {
        0% {
            left: 13%;
            z-index: 15;
        }

        100% {
            left: 100%;
        }
    }

    .lid__image_one.active30 {
        animation: f10 1s ease 0s 1 normal forwards;
    }

    @keyframes f10 {
        0% {
            left: 13%;
            z-index: 15;
        }

        100% {
            left: -87%;
        }
    }

    .lid__btn {
        border: 1px solid #590D56;
        color: #590D56;
    }

    .svg__prev,
    .path,
    .svg__next {
        stroke: #590D56;
    }

    .lid__items {
        margin-bottom: 30vw;
        flex-direction: column;
    }

    .lid__bg {
        left: -35%;
    }

    .lid__title {
        margin-bottom: 40px;
    }

    .modal-content {
        margin: 17vw auto;
    }
}

@media (max-width: 870px) {
    .advant__icon {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .advant__text {
        text-align: center;
    }

    .advant__items {
        flex-direction: column;
        align-items: center;
    }

    .advant__text_i {
        margin-left: 0;
    }
}

@media (max-width: 740px) {
    .about__item_o .about__icon {
        margin-left: 30px;
    }

    .about__item_o .about__text {
        margin-left: 0;
    }

    .about__item {
        padding: 20px 20px 20px 20px;
    }

    .about__text {
        margin-left: 30px;
    }

    .buy__images {
        margin-top: 30px;
    }
}

@media (max-width: 690px) {
    .lid__items {
        margin-bottom: 25vw;
    }
}

@media (max-width: 540px) {
    .header {
        top: 91.3vh;
    }

    .header__container {
        padding: 15px 0;
    }

    .lid {
        padding-top: 30px;
    }

    .buy__buttons {
        flex-direction: column;
        width: 100%;
        margin-top: 30px;
    }

    .buy__button {
        margin: 0px 0px 10px 0px;
    }

    .buy__button:not(:last-child) {
        margin-right: 0px;
    }

    .information__button {
        margin-top: 30px;
        align-self: stretch;
    }
}

@media (max-width: 450px) {
    .lid__links {
        display: block;
    }

    .links__instuction {
        flex: 0 1 33.333%;
    }

    .links__instuction:not(:last-child) {
        margin-bottom: 20px;
        margin-right: 0px;
    }

    .links__instuction_icon {
        margin-right: 30px;
    }

    .lid__items {
        margin-bottom: 20vw;
    }
}

@media (max-width: 360px) {
    .advant__body {
        flex-direction: column;
        align-items: center;
    }

    .advant__column {
        margin-bottom: 20px;
    }
}